body {
    background-color: rgb(193, 240, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}
.header {
    background-color: #c2c9cd;
    padding: 30px 40px;
    color: white;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}
h2 {
    margin: 0 0 20px 0;
}
.input-group {
    display: flex;
}
input {
    border: none;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
.addBtn:hover {
    background-color: #bbb;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
    padding: 12px 20px;
    background: #eee;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.checked {
    text-decoration: line-through;
    color: #888;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
.delete-btn {
    color: #ff4d4d;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

ul li:hover {
    background: #ddd;
}